
.navbar {
    height: 70px;
    border-bottom: 2px solid #ccc;
}

.site-name {
    text-align: center;
    padding: 30px 0;
    color: $color-primary !important;
    text-decoration: none !important;
}

