*{
  box-sizing: border-box;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  ul {
    padding: 0;
    margin: 0; 
    list-style: none;
  }

  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

a {
  text-decoration: none !important;
  
}
h1,h2,h3,h4,h5 {
  margin: 0;
}

  .content {
    background: #FAFAFA;
    
  }

  .card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(26, 54, 126, 0.125);
    border-radius: 0.25rem;
    padding: 20px; 
  }

  .card-info {
    width: 175px;
    height: 96px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-shadow {
    -webkit-box-shadow: 11px 11px 7px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 11px 7px -4px rgba(0,0,0,0.75);
    box-shadow: 9px 9px 5px -2px rgba(0,0,0,0.65);
  }

  .card-green {
    background-color: $color-green;
  }

  .card-orange {
    background-color: $color-orange;
  }
  .card-blue {
    background-color: $color-blue;
  }
  .card-yellow {
    background-color: $color-yellow;
  }
  .card-red {
    background-color: $color-red;
  }

  .disable-link {
    pointer-events: none;
  }

  .no-data {
    width: 100%;
    margin-top: 50px;
  }

  .page-header {
    margin: 0 auto;
    background-color: #E9ECEF;
    width: 100%;
  }
  .page-title {
    margin-left: 3%;
    padding-top:10px;
    font-size: 1.6rem;
  }

  .card-md {
    width: 400px;
  }