.dateSlider{
    width: 100%;
    text-align: center;
    padding: 15px 0; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.dateSlider .dateSlider-date{
    width: 350px;
} 

.dateSlider .icon{
    font-size: 1.6rem;
}

.dateSlider .btn {
    cursor: pointer;
}

