.overview{
    margin-bottom: 60px;
    width: 100%;
}
.overview-content {
    margin: 40px auto;
    min-height: 50vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
}

.overview-chart {
    margin: 20px auto;
}

.overview-chart-header {
    padding: 10px 0px;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
    font-size: 1.5rem;
}

.overview-table-wrapper {
    margin-top: 30px;
}

.chart-income {
    background-color: $color-green;
}

.chart-expense {
    background-color: $color-red;
}
