.overview{
    margin-bottom: 60px;
    
}
.overview-content {

    margin: 40px auto;
    width: 96%;
    min-height: 50vh;
}
.overview-tabs {
    display: flex; 
    background-color: #3E3E3E; 
    justify-content: center;
    padding: 20px 0px;
}

.tab-content{
    display: grid;
    grid-template-columns: 60% 30%;
}

.overview-tab-title.selected { 
    border-bottom: 2px solid #fff;
}

.overview-tab-title {
    padding-bottom: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.tab-graph { 
    padding: 60px 0;
    margin: 0 auto;
}

.tab-table {
    margin-top: 100px; 
    
}
