.sidebar {
    background: #3E3E3E;
    height: 100%;
    min-height: 100vh;
}

.sidebar-link:hover {
    background:#EDEDED;
    color: #F36A58 !important;
    transition: all 0.3s;
}


.sidebar-link {
    list-style: none;
    display: block;
    width: 100%;
    color: #fff !important;
    padding: 15px 0 15px 20px;
    border-bottom: 1px solid #333;
    cursor: pointer;
    text-decoration: none !important;
}

.sidebar-link.selected {
    background:#EDEDED;
    color: #F36A58 !important;
}

.sidebar-icon {
    font-size: 1.5rem;
    margin-right: 15px;
}


