//TRANSACTIONS HEADER -----------------------------------------


.transactions-total-wrapper {
    width: 100%;
    color: #fff;
    padding: 8px 0;
    font-size: 1.1rem;
}

.transactions-total {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}


//END TRANSACTIONS HEADER ----------------------------------

//TRANSACTIONS CONTENT -------------------------------------

.transaction-add-btn-wrapper{
    text-align: center;
}

.transaction-add-btn {
    background-color: $color-red;
    color: #fff;
    width: 50px; 
    height: 50px;
    display: block;
    border-radius: 50%;
    font-size: 1.8rem;
    text-decoration: none !important;
    line-height: 50px;
    position: fixed;
}

.transaction-add-btn:hover {
    color: #fff;
}

.transactions-content {
    width: 80%;
    margin: 20px auto 80px auto;
}

.transaction-day {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 12px;
}

.transaction-day-header {
    padding: 0px 30px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
}

.transaction-day-monthday {
    font-size: 2.4rem;
}

.weekday-span {
    margin-left: 8px;
    padding: 2px 8px;
    font-size: 0.8rem;
    background-color: #888;
    color: #ffff;
}

.transaction-day-total {
    display: grid;
    grid-template-columns: repeat(2,80px);
    grid-template-rows: repeat(2, 10px); 
    text-align: center;
    font-size: 0.9rem;
}

.transaction-day-list {
    width: 95%;
    margin: 0 auto;
    padding: 10px 0 ;
}

.transaction-day-item {
    padding: 8px 15px;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    color: #333;
}

.transaction-day-item:hover {
    background-color: #EEE;
    color: #333;
}

.transaction-day-item-category {
    flex: 0 1 20%;
}
.transaction-day-item-notes {
    flex: 0 1 50%;
}
.transaction-day-item-amount {
    flex: 0 1 30%;
    display: flex;
    text-align: end;
}
.transaction-day-item-amount-income {
    flex: 0 1 50%;
}
.transaction-day-item-amount-expense {
    flex: 0 1 50%;
}

//END TRANSACTIONS CONTENT -----------------------------

//NEW/EDIT TRANSACTION ---------------------------------

.transaction-form{
    width: 500px;
    margin: 60px auto;
}

.transaction-form-type-wrapper {
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}

.transaction-form-type {
    width: 50%;
    padding: 20px 0;
    background-color: #e3e3e3;
    text-align: center;
    cursor: pointer;
    color: #888;
    transition: color .3s;
}

.transaction-form-type.selected {
    color: #fff;

}
.transaction-form-type-expense.selected {
    background-color: $color-red;
}

.transaction-form-type-income.selected {
    background-color: $color-green; 
}

.transaction-form select{
    width: 130px;
}

.transaction-form input, .transaction-form select {
    width:100%;
}

.transaction-form-grid {
    display: grid;
    grid-template-columns: 40% 60%;
    row-gap: 20px;
}

.transaction-form-footer {
    margin-top: 30px;
    grid-column: 2/3;
    justify-self: end;
}

.transaction-form-btn {
    width: 100px;
}

