* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

a {
  text-decoration: none !important; }

h1, h2, h3, h4, h5 {
  margin: 0; }

.content {
  background: #FAFAFA; }

.card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(26, 54, 126, 0.125);
  border-radius: 0.25rem;
  padding: 20px; }

.card-info {
  width: 175px;
  height: 96px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center; }

.card-shadow {
  -webkit-box-shadow: 11px 11px 7px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 11px 7px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 9px 5px -2px rgba(0, 0, 0, 0.65); }

.card-green {
  background-color: #28B779; }

.card-orange {
  background-color: #DA542E; }

.card-blue {
  background-color: #2255A4; }

.card-yellow {
  background-color: #FFB848; }

.card-red {
  background-color: #C21807; }

.disable-link {
  pointer-events: none; }

.no-data {
  width: 100%;
  margin-top: 50px; }

.page-header {
  margin: 0 auto;
  background-color: #E9ECEF;
  width: 100%; }

.page-title {
  margin-left: 3%;
  padding-top: 10px;
  font-size: 1.6rem; }

.card-md {
  width: 400px; }

.content {
  background-color: #F4F7FA; }

.content-grid {
  display: grid;
  grid-template-columns: 1fr 6fr; }

.sidebar {
  background: #3E3E3E;
  height: 100%;
  min-height: 100vh; }

.sidebar-link:hover {
  background: #EDEDED;
  color: #F36A58 !important;
  transition: all 0.3s; }

.sidebar-link {
  list-style: none;
  display: block;
  width: 100%;
  color: #fff !important;
  padding: 15px 0 15px 20px;
  border-bottom: 1px solid #333;
  cursor: pointer;
  text-decoration: none !important; }

.sidebar-link.selected {
  background: #EDEDED;
  color: #F36A58 !important; }

.sidebar-icon {
  font-size: 1.5rem;
  margin-right: 15px; }

.navbar {
  height: 70px;
  border-bottom: 2px solid #ccc; }

.site-name {
  text-align: center;
  padding: 30px 0;
  color: #F36A58 !important;
  text-decoration: none !important; }

.transactions-total-wrapper {
  width: 100%;
  color: #fff;
  padding: 8px 0;
  font-size: 1.1rem; }

.transactions-total {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  text-align: center; }

.transaction-add-btn-wrapper {
  text-align: center; }

.transaction-add-btn {
  background-color: #C21807;
  color: #fff;
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
  font-size: 1.8rem;
  text-decoration: none !important;
  margin: 1% 0 0 2%;
  position: fixed; }

.transaction-add-btn:hover {
  color: #fff; }

.transactions-content {
  width: 80%;
  margin: 20px auto 80px auto; }

.transaction-day {
  margin-bottom: 20px;
  background-color: #fff;
  padding: 12px; }

.transaction-day-header {
  padding: 0px 30px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between; }

.transaction-day-monthday {
  font-size: 2.4rem; }

.weekday-span {
  margin-left: 8px;
  padding: 2px 8px;
  font-size: 0.8rem;
  background-color: #888;
  color: #ffff; }

.transaction-day-total {
  display: grid;
  grid-template-columns: repeat(2, 80px);
  grid-template-rows: repeat(2, 10px);
  text-align: center;
  font-size: 0.9rem; }

.transaction-day-list {
  width: 95%;
  margin: 0 auto;
  padding: 10px 0; }

.transaction-day-item {
  padding: 8px 15px;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  color: #333; }

.transaction-day-item:hover {
  background-color: #EEE;
  color: #333; }

.transaction-day-item-category {
  flex: 0 1 20%; }

.transaction-day-item-notes {
  flex: 0 1 50%; }

.transaction-day-item-amount {
  flex: 0 1 30%;
  display: flex;
  text-align: end; }

.transaction-day-item-amount-income {
  flex: 0 1 50%; }

.transaction-day-item-amount-expense {
  flex: 0 1 50%; }

.transaction-form {
  width: 500px;
  margin: 60px auto; }

.transaction-form-type-wrapper {
  width: 100%;
  display: flex;
  margin-bottom: 30px; }

.transaction-form-type {
  width: 50%;
  padding: 20px 0;
  background-color: #e3e3e3;
  text-align: center;
  cursor: pointer;
  color: #888;
  transition: color .3s; }

.transaction-form-type.selected {
  color: #fff; }

.transaction-form-type-expense.selected {
  background-color: #C21807; }

.transaction-form-type-income.selected {
  background-color: #28B779; }

.transaction-form select {
  width: 130px; }

.transaction-form input, .transaction-form select {
  width: 100%; }

.transaction-form-grid {
  display: grid;
  grid-template-columns: 40% 60%;
  row-gap: 20px; }

.transaction-form-footer {
  margin-top: 30px;
  grid-column: 2/3;
  justify-self: end; }

.transaction-form-btn {
  width: 100px; }

.dateSlider {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center; }

.dateSlider .dateSlider-date {
  width: 350px; }

.dateSlider .icon {
  font-size: 1.6rem; }

.dateSlider .btn {
  cursor: pointer; }

.overview {
  margin-bottom: 60px;
  width: 100%; }

.overview-content {
  margin: 40px auto;
  min-height: 50vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.overview-chart {
  margin: 20px auto; }

.overview-chart-header {
  padding: 10px 0px;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
  font-size: 1.5rem; }

.overview-table-wrapper {
  margin-top: 30px; }

.chart-income {
  background-color: #28B779; }

.chart-expense {
  background-color: #C21807; }

@media only screen and (max-width: 1023px) {
  .sidebar-brand-desc {
    display: none; }
  .sidebar-link-text {
    display: none; }
  .sidebar-icon {
    margin: 0; } }
